<h1>Seja bem vindo!</h1>
<p> Data <%=data_br(Date.today)%> </p>
<%= link_to "Acesse sua Crypto Wallet", coins_path %> 
<%=link_to "Tipos de mineração", mining_types_path%>
<p> Você está em ambiete de <b> <%= ambiente_rails %> </b> </p>
<%= render "footer" %>