<p style="color: green"><%= notice %></p>

<h1>Mining Types</h1>

<div id="coins">
<table class = "table table-dark table-striped">
<thead>
<tr class = "">
    <td><%= t("activerecord.attributes.mining_type.description") %></td>
    <td><%= t("activerecord.attributes.mining_type.acronym") %></td>
    <td><%= %></td>
  </tr>
</thead>
  <tbody>
    <% @mining_types.each do |mining_type| %>
      <tr>
        <td><%= mining_type.description %></td>
        <td><%= mining_type.acronyn %></td>
        <td><%= link_to t("links.show"), mining_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to t("link.new"), new_mining_type_path, class: "btn btn-primary" %>
