<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to t('links.edit'), edit_coin_path(@coin), class: "btn btn-info my-3" %> |
  <%= link_to  "voltar", coins_path, class: "btn btn-info my-3" %>

  <%= button_to t("links.destroy"), @coin, method: :delete, class: "btn btn-danger" %>
</div>
